# Files containing sensitive data
*.config.local


# Local configuration files
config.local.*
settings.local.*

# Build File
build/*
.settings/*
*.spec

# apps
data/icon_app.ico

# Test File
__pycache__/*
*.pyc